In [60]:
import pandas as pd

In [61]:
csv_sumary_path = "/home/truongdongdo/Desktop/sumary.csv"
data = pd.read_csv(csv_sumary_path)

In [116]:
csv_sumary_path = "/home/truongdongdo/Desktop/sumary_xlsx.xlsx"
data = pd.read_excel(csv_sumary_path)

In [117]:
# Print 5 head rows 
data.head()

# Print 5 tail rows
data.tail()

Empty DataFrame
Columns: [STT, License, Time, Location]
Index: []

In [118]:
# Duyet 1 cot
license = data.License
print(len(license))

0

In [119]:
# Duyet 1 hang
# data.loc[44, :]      # Select row 44

In [120]:
# Select the rows where 'id' value is 3.
# data[data["License"] == 'bien_so']

In [121]:
# Add a new row at index position 2 with values provided in list
data.set_index('STT')

# Pass a series in append() to append a row in dataframe  
mod_data = data.append(pd.Series([1,'71C2345', 'My name is truongdongdo','tran duy hung'],index=data.columns), ignore_index=True)
mod_data.tail()

  STT  License                     Time       Location
0   1  71C2345  My name is truongdongdo  tran duy hung

In [122]:
# Pass a series in append() to append a row in dataframe  
last_STT = mod_data['STT'].values[-1]
print(last_STT)
mod_data = mod_data.append(pd.Series([last_STT+1,'4332', 'My name is truongdongdo','tran duy hung'],index=data.columns), ignore_index=True)
mod_data.tail(10)

1

  STT  License                     Time       Location
0   1  71C2345  My name is truongdongdo  tran duy hung
1   2     4332  My name is truongdongdo  tran duy hung

In [123]:
print(mod_data[mod_data["License"] == '4332'])

  STT License                     Time       Location
1   2    4332  My name is truongdongdo  tran duy hung

In [124]:
# Chon dong co bien so de dien don
bien_so = str(4332)
print(mod_data.loc[mod_data["License"] == bien_so,'STT'].values[-1])

2

In [125]:
# Chon dong roi chon so dt de nhan tin
print(mod_data.loc[mod_data["License"] == bien_so,'Location'].values[-1])

tran duy hung

#### - Output data to a CSV file

In [126]:
# Typically, I don't want row numbers in my output file, hence index=False.
# To avoid character issues, I typically use utf8 encoding for input/output.
data.to_csv("output_test.csv", index=False, encoding='utf8')

In [129]:
# Output data to an Excel file.
# For the excel output to work, you may need to install the "xlsxwriter" package.
mod_data.to_excel("/home/truongdongdo/Desktop/sumary_xlsx_output.xlsx", sheet_name="Sheet 1", index=False)