In [1]:
import pandas as pd

In [61]:
csv_sumary_path = "/home/truongdongdo/Desktop/sumary.csv"
data = pd.read_csv(csv_sumary_path)

In [2]:
csv_sumary_path = "./Autofill_Sumary/Information_License_plate.xlsx"
data = pd.read_excel(csv_sumary_path)

In [9]:
# Print 5 head rows 
data.head()

# Print 5 tail rows
data.tail()

,Biển số phần 1,Biển số phần 2,Chủ xe,Địa chỉ,Số CMND/CCCD,Số điện thoại,Ngày cấp,Bến Tre,Loại xe,Nhãn hiệu,...,Ngày đăng ký mới,Đăng ký xe có giá trị,Ngày đăng ký lần đầu,Biển số cũ,Cải tạo,Ngày cải tạo,Thu hồi,Ngày thu hồi,Sang tên di chuyển đi,Ngày sang tên di chuyển
5,71C167672,57557,TRẦN THÁI AN,"132, Vang Quới Đông, Bình Đại, Bến Tre",318455455.0,837326541,2006-04-03,Bến Tre,Hai bánh từ 50-175 cm3,HONDA,...,2018-04-10,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,71C190875,24346,NGUYỄN ĐỨC ANH,"66, Vang Quới Tây, Bình Đại, Bến Tre",321670981.0,918673775,2018-10-22,Bến Tre,Hai bánh từ 50-175 cm3,YAMAHA,...,2018-04-10,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,71C126943,57573,PHẠM HOÀNG,"298, Bình Thắng, Bình Đại, Bến Tre",309542109.0,939763639,2001-01-13,Bến Tre,Hai bánh từ 50-175 cm3,YAMAHA,...,2018-04-10,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,71C390875,37653,LÊ HOÀNG ĐÔ,"7/2, Giao Thạnh, Thạnh Phú, Bến Tre",364951257.0,913562476,2000-11-20,Bến Tre,Hai bánh từ 50-175 cm3,YAMAHA,...,2018-04-10,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,71B4,472,Lê Huỳnh Yến Nhi,"24/2, Thới Thạnh, Thạnh Phú, Bến Tre",NaN,383626591,2000-11-20,Bến Tre,NaN,NaN,...,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print(data["Biển số phần 2"])
# Duyet 1 cot

0    12345
1    42342
2    23423
3    23423
4    24342
5    57557
6    24346
7    57573
8    37653
9      472
Name: Biển số phần 2, dtype: int64

In [119]:
# Duyet 1 hang
# data.loc[44, :]      # Select row 44

In [120]:
# Select the rows where 'id' value is 3.
# data[data["License"] == 'bien_so']

In [121]:
# Add a new row at index position 2 with values provided in list
data.set_index('STT')

# Pass a series in append() to append a row in dataframe  
mod_data = data.append(pd.Series([1,'71C2345', 'My name is truongdongdo','tran duy hung'],index=data.columns), ignore_index=True)
mod_data.tail()

  STT  License                     Time       Location
0   1  71C2345  My name is truongdongdo  tran duy hung

In [122]:
# Pass a series in append() to append a row in dataframe  
last_STT = mod_data['STT'].values[-1]
print(last_STT)
mod_data = mod_data.append(pd.Series([last_STT+1,'4332', 'My name is truongdongdo','tran duy hung'],index=data.columns), ignore_index=True)
mod_data.tail(10)

1

  STT  License                     Time       Location
0   1  71C2345  My name is truongdongdo  tran duy hung
1   2     4332  My name is truongdongdo  tran duy hung

In [123]:
print(mod_data[mod_data["License"] == '4332'])

  STT License                     Time       Location
1   2    4332  My name is truongdongdo  tran duy hung

In [124]:
# Chon dong co bien so de dien don
bien_so = str(4332)
print(mod_data.loc[mod_data["License"] == bien_so,'STT'].values[-1])

2

In [125]:
# Chon dong roi chon so dt de nhan tin
print(mod_data.loc[mod_data["License"] == bien_so,'Location'].values[-1])

tran duy hung

#### - Output data to a CSV file

In [126]:
# Typically, I don't want row numbers in my output file, hence index=False.
# To avoid character issues, I typically use utf8 encoding for input/output.
data.to_csv("output_test.csv", index=False, encoding='utf8')

In [129]:
# Output data to an Excel file.
# For the excel output to work, you may need to install the "xlsxwriter" package.
mod_data.to_excel("/home/truongdongdo/Desktop/sumary_xlsx_output.xlsx", sheet_name="Sheet 1", index=False)